# Ref: http://vim.wikia.com/wiki/Use_vi_shortcuts_in_terminal#well-formed-example-inputrc

set editing-mode vi

set show-all-if-ambiguous on
set completion-ignore-case on
set menu-complete-display-prefix on

set keymap vi-command

# For pry: Use C-n for next and C-s for step
n: "inext\r\e"
s: "istep\r\e"

# Type something and use up/down to search history using that
"\e[A": history-search-backward
"\e[B": history-search-forward


set keymap vi-insert

# Pressing tab will list all completions & select the first one. Pressing it
# again cycles through available completions. Shift-TAB will work in reverse.
TAB: menu-complete
"\e[Z": menu-complete-backward

# Type something and use up/down to search history using that
"\e\e[A": history-search-backward
"\e\e[B": history-search-forward
