snippet {
	{
	  ${1}
	
snippet for
	for(${1}; ${2}; ${3}) {
	  ${4}
	}
snippet if
	if(${1}) {
	  ${2}
	}
snippet ifelse
	if (${1}) {
	  ${2}
	}
	else {
	  ${3}
	}
snippet pf
	printf("${1}"${2});
snippet puts
	puts("${1}");
snippet while
	while(${1}) {
	  ${2}
	}
